html {
  --border-radius: 5px;
  --shadow: 5px 10px 50px rgba(0, 0, 0, 255);
  --redirectFont: 20px;
  --primary-color: #036103;
  --primary-color-dark: #024b02;
}

body {
  background: var(--primary-color);
}

.title {
  text-align: center;
}

.redirectButtons {
  display: block;
  margin: auto;
  font-size: var(--redirectFont);
}

.redirectButton {
  padding: 10px;
  margin: 20px;
  border-radius: var(--border-radius);
  background: var(--primary-color-dark);
  border-color: transparent;
}

a {
  text-decoration: none;
  color: black
}

.discord-widget {
  margin: auto;
  display: block;
  vertical-align: middle;
}